
#home_btn {
	margin-left: 40%;
	border-radius: 0 !important;
	background-color: grey !important;
	border-color: grey !important;
	font-family: 'Advent Pro', sans-serif;
	font-weight: 200px;
}

.carousel_ {
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}

.header {
	text-align: center;
	font-family: 'Advent Pro', sans-serif;
}